<section class="wrapper-form">
  <form name="addForm">
    <fieldset>
      <label for="">Empresa</label>
      <input class="input"/>
    </fieldset>
    <fieldset>
      <label for="">Endereço</label>
      <input class="input"/>
    </fieldset>
    <fieldset>
      <label for="">Bairro</label>
      <input class="input"/>
    </fieldset>
    <fieldset>
      <label for="">E-mail</label>
      <input class="input"/>
    </fieldset>
    <fieldset class="fieldset-middle">
      <label for="">Telefone</label>
      <input class="input input-middle"/>
    </fieldset>
    <fieldset class="fieldset-middle">
      <label>Categoria</label>
      <select>
        <option value="">Selecione uma categoria</option>
      </select>
    </fieldset>
    <button class="btn btn-primary" type="submit">Cadastrar</button>
    <button class="btn btn-secundary">Voltar</button>
  </form>
</section>
